.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 72px;
  z-index: 500;
}

.sidebar-link {
  padding-top: 6px;
  height: 74px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: lightgrey;
}

.sidebar-link img {
  height: 24px;
}

.sidebar-link div {
  font-size: 10px;
  color: black;
  padding-top: 6px;
}
