.thumbnail {
  width: 100%;
}


.thumbnail-picture {
  margin-bottom: 10px;
  position: relative;
}

.video-time {
  position: absolute;
  bottom: 10px;
  right: 5px;
  color: white;
  background-color: black;
  padding: 4px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-title {
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-stats,
.video-author {
  color: #606060;
  font-size: 12px;
}

.video-author {
  margin-bottom: 4px;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.video-preview-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-preview-grid {
    grid-template-columns: 1fr 1fr;
  }  
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-preview-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }  
}

@media (min-width: 1000px) {
  .video-preview-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }  
}